@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.navButton {
  height: 5 * $grid-unit;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-left: 0.25 * $grid-unit solid transparent;

  transition: 
    background-color ease 0.3s, 
    border-left ease 0.3s, 
    color ease 0.2s,
    opacity ease 0.3s;
  color: font-color(lowlight);

  .icon {
    margin: 0 1.4 * $grid-unit;
    transition: transform ease 0.3s;
  }

  .label {
    @include font-button;
    margin-left: $grid-unit/4;
    white-space: nowrap;
  }
  &:active,
  &:hover,
  &:focus {
    background-color: palette(base, 300);
    color: font-color(light);
  }
}

.active .navButton {
  color: font-color(highlight);
  border-left: 0.25 * $grid-unit solid palette(highlight);
}

.disabled {
  pointer-events: none;
  .navButton,
  .label,
  .icon {
    color: palette(lowlight, 300);
    opacity: 0.5;
  }
}

.navCollapsed {
  justify-content: center;
  .label {
    display: none;
  }
}

.collapsed .icon {
  transform: scaleX(-1);
}
