@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.url {
  color: font-color(lowlight);
  cursor: pointer;

  transition: color ease 0.3s;

  &:hover {
    color: palette(highlight);
  }
}
