apiVersion: v1
kind: ConfigMap
metadata:
  name: kdl-server-configmap
  labels:
    app: kdl-server-configmap
data:
  KDL_SERVER_PORT: '8080'
  config.cfg: |+
    {
      "SERVER_NAME": "{{ .Values.serverName }}",
      "SERVER_URL": "{{ include "protocol" . }}://kdlapp.{{ .Values.domain }}",
      "INTERNAL_REPO_BASE_URL": "{{ include "protocol" . }}://gitea.{{ .Values.domain }}/kdl"
    }
