@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  width: 100%;
  height: 100%;

  display: flex;
  position: relative;
}

.centeredSpinner {
  @include center;
  z-index: 1;
}

.vizArea {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .kgTopBar {
    position: absolute;
    width: 100%;
    height: 5 * $grid-unit;
    top: 3 * $grid-unit;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5 * $grid-unit 0 3 * $grid-unit;
    pointer-events: none;

    .safeArea {
      height: $grid-unit;
      width: 24vw;
      max-width: 460px;
    }

    > div {
      pointer-events: all;
    }
  }
}

.panelSafeArea {
  width: 25vw;
  min-width: 44 * $grid-unit;
  max-width: 60 * $grid-unit;
  flex-shrink: 0;
}
