@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  width: 100%;
  height: 100%;

  display: flex;
  position: relative;
}

.vizArea {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .kgTopBar {
    position: absolute;
    width: 100%;
    height: 5 * $grid-unit;
    top: $grid-unit * 3;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $grid-unit * 3.5 0 $grid-unit * 4.5;
    pointer-events: none;

    > div {
      pointer-events: all;
    }
  }
}

.panelSafeArea {
  width: 25vw;
  min-width: 44 * $grid-unit;
  max-width: 60 * $grid-unit;
  flex-shrink: 0;
}
