########
# GLOBAL
########

.certs
.envrc
.run/*.xml
.trunk/
coverage/
deprecations
main
.hadolint.yml

########
# JETBRAINS
# ref: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
########

.idea
.idea_modules/
*.iws
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
out/

########
# GO
# ref: https://github.com/github/gitignore/blob/main/Go.gitignore
########

.env
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
go.work
go.work.sum

########
# MACOSX
# ref: https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
########

._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

########
# NPM
########

.cache
.cache
.cache/
.docusaurus
.dynamodb/
.env
.env.*.local
.env.local
.eslintcache
.fusebox/
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache*/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
bower_components
build/Release
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*

########
# LINUX
# ref: https://github.com/github/gitignore/blob/main/Global/Linux.gitignore
########

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

########
# VS Code
# ref: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
########

!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
.vscode/*
*.vsix

########
# WINDOWS
# ref: https://github.com/github/gitignore/blob/main/Global/Windows.gitignore
########

[Dd]esktop.ini
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable
