@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  position: absolute;
  opacity: 1;
  z-index: 1;
  width: 15 * $grid-unit;
  height: auto;
  display: flex;
  align-items: center;
  background-color: palette(lowlight, 700);
  border-radius: 0.75 * $grid-unit;

  &.opened {
    z-index: 2;
  }

  &:hover {
    z-index: 999;
  }
}

.position {
  @include font-button;
  color: font-color(dark);

  padding: 0 1 * $grid-unit;
}

.section {
  @include font-small;
  color: font-color(lowlight);

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  padding: $grid-unit $grid-unit;
  background-color: palette(lowlight, 900);

  border-radius: 0 0.75 * $grid-unit 0.75 * $grid-unit 0;

  pointer-events: none;
}
