global:
  env: {}
    # MY_VARIABLE: value

  envFromSecrets: {}
    # MY_VARIABLE:
    #  name: <name-secret>
    #  key: secret_key

  envFromConfigMap: {}
    # MY_VARIABLE:
    #  name: <name-configmap>
    #  key: key

  serverName: "local-server"
  domain: {{ requiredEnv "DOMAIN" | quote }}

  ingress:
    tls:
      enabled: {{ requiredEnv "ENABLE_TLS" }}
      secretName: {{ requiredEnv "DOMAIN" }}-tls-secret
#      caSecret:
#        name: mkcert-ca
#        certFilename: mkcert-ca.crt

  mongodb:
    connectionString:
      secretKey: mongodb-string-uri
      secretName: mongodb-string-uri

image:
  repository: {{ requiredEnv "IMAGE_REGISTRY" }}/konstellation/kdl-server
  tag: latest
  pullPolicy: Always

env:
  KDL_SERVER_PORT: "8080"
  SERVER_URL: https://kdlapp.{{ requiredEnv "DOMAIN" }}
  MINIO_ACCESS_KEY: minio
  MINIO_SECRET_KEY: minio123

envFromSecrets: {}
  # MY_VARIABLE:
  #  name: <name-secret>
  #  key: secret_key

envFromConfigMap: {}
  # MY_VARIABLE:
  #  name: <name-configmap>
  #  key: key

ingress:
  enabled: false
  className: "public"
  annotations:
    cert-manager.io/cluster-issuer: selfsigned-clusterissuer
    nginx.ingress.kubernetes.io/server-snippet: |
      client_header_buffer_size 800k;

  hosts:
  - host: kdlapp.{{ requiredEnv "DOMAIN" }}
    paths:
    - path: /
      pathType: ImplementationSpecific
  tls:
    - secretName: {{ requiredEnv "DOMAIN" }}-kdl-secret
      hosts:
      - kdlapp.{{ requiredEnv "DOMAIN" }}

readyChecker:
  enabled: false

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

podAnnotations:
  env: "microk8s"

podLabels:
  env: "develop"

volumes:
  - name: kdl-server
    configMap:
      name: kdl-local-server

volumeMounts:
  - name: kdl-server
    mountPath: /public/config.json
    subPath: config.json

gitea:
  enabled: true

  admin:
    username: {{ requiredEnv "GITEA_ADMIN_USER" | quote }}
    password: {{ requiredEnv "GITEA_ADMIN_PASSWORD" | quote }}

  ingress:
    className: "public"

  storage:
    storageClassName: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

# -- Keycloak subchart deployment
# </br> Ref: https://github.com/konstellation-io/helm-charts/blob/konstellation-base-1.0.2/charts/konstellation-base/values.yaml
keycloak:
  enabled: true

  fullnameOverride: keycloak

  image:
    repository: keycloak/keycloak
    tag: "26.0"

  service:
    healthPath: /realms/master
    targetPort: 8080

  ingress:
    enabled: true
    className: public
    annotations:
      nginx.org/proxy-buffer-size: "128k"
      nginx.org/proxy-buffers: "8 256k"
      cert-manager.io/cluster-issuer: selfsigned-clusterissuer
    hosts:
    - host: keycloak.{{ requiredEnv "DOMAIN" }}
      paths:
      - path: /
        pathType: ImplementationSpecific
    tls:
      - secretName: keycloak-kdl-tls
        hosts:
        - keycloak.{{ requiredEnv "DOMAIN" }}

  serviceAccount:
    create: true

  livenessProbe:
    enabled: false

  readinessProbe:
    enabled: false
    httpGet:
      path: /realms/master

  command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--verbose"
  - "--import-realm"

  env:
    KC_DB_PASSWORD: keycloak
    KC_DB_URL: jdbc:postgresql://postgresql:5432/keycloak
    KC_DB_USERNAME: keycloak
    KC_DB: postgres
    KC_HEALTH_ENABLED: true
    KC_HOSTNAME: keycloak.{{ requiredEnv "DOMAIN" }}
    KC_HTTP_ENABLED: true
    KC_METRICS_ENABLED: true
    KC_PROXY_HEADERS: xforwarded
    KC_BOOTSTRAP_ADMIN_USERNAME: {{ requiredEnv "KEYCLOAK_ADMIN_USER" | quote }}
    KC_BOOTSTRAP_ADMIN_PASSWORD: {{ requiredEnv "KEYCLOAK_ADMIN_PASSWORD" | quote }}
    KC_PROXY: edge

  volumes:
    - name: keycloak-initial-realm
      configMap:
        name: keycloak-initial-realm

  volumeMounts:
    - name: keycloak-initial-realm
      mountPath: /opt/keycloak/data/import/initial-realm.json
      subPath: initial-realm.json
      readOnly: true

knowledgeGalaxy:
  enabled: false

  image:
    repository: {{ requiredEnv "KNOWLEDGE_GALAXY_IMAGE_REPOSITORY" | quote }}
    tag: {{ env "KNOWLEDGE_GALAXY_IMAGE_TAG" | quote }}

# -- (DEPRECATION) Legacy issues
# minio:
#   enabled: true
#   resources:
#     requests:
#       memory: 1Gi
#   mode: standalone
#   rootUser: "minio"
#   rootPassword: "minio123"
#   serviceAccount:
#     create: false
#   persistence:
#     storageClass: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}
#     existingClaim: ""
#     accessMode: ReadWriteMany

# -- MinIO subchart deployment
# </br> Ref: https://github.com/bitnami/charts/blob/main/bitnami/minio/values.yaml
minio:
  enabled: true

  fullnameOverride: minio
  nameOverride: minio

  mode: standalone

  ingress:
    enabled: true
    ingressClassName: public
    annotations:
      cert-manager.io/cluster-issuer: selfsigned-clusterissuer
    hostname: minio-console.{{ requiredEnv "DOMAIN" }}
    tls: true

  apiIngress:
    enabled: true
    ingressClassName: public
    hostname: minio.{{ requiredEnv "DOMAIN" }}

  auth:
    rootUser: minio
    rootPassword: minio123

  persistence:
    enabled: true
    storageClass: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

# -- MongoDB subchart deployment
# </br> Ref: https://github.com/bitnami/charts/blob/main/bitnami/mongodb/values.yaml
mongodb:
  enabled: true

  fullnameOverride: mongodb
  nameOverride: mongodb

  image:
    tag: 7.0.15

  architecture: standalone

  auth:
    rootUser: admin
    rootPassword: "123456"
    usernames:
    - kdl
    passwords:
    - 123456
    databases:
    - kdl

  persistence:
    enabled: true
    storageClass: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

# (DEPRECATION) legacy, remove in future versions
# OAuth2-Proxy legacy to configure user authentication
oauth2Proxy:
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.7.1-amd64

  customConfig: |-
    provider="keycloak-oidc"
    oidc_issuer_url="https://keycloak.{{ requiredEnv "DOMAIN" }}/realms/kdl"
    redirect_url="https://kdlapp.{{ requiredEnv "DOMAIN" }}/oauth2/callback"
    cookie_secret="mycookiesecret16"
    cookie_secure=true
    email_domains="*"
    set_xauthrequest=true
    http_address="https://kdlapp.{{ requiredEnv "DOMAIN" }}/"
    ssl_insecure_skip_verify=true
    whitelist_domains=["kdlapp.{{ requiredEnv "DOMAIN" }}"]
    cookie_domains=["kdlapp.{{ requiredEnv "DOMAIN" }}", "keycloak.{{ requiredEnv "DOMAIN" }}"]
    errors_to_info_log=true
    skip_provider_button=true

# -- OAuth2-Proxy subchart deployment
# </br> Ref: https://github.com/oauth2-proxy/manifests/blob/main/helm/oauth2-proxy/values.yaml
oauth2proxy:
  enabled: true

  ingress:
    enabled: true
    className: public
    path: /
    pathType: ImplementationSpecific
    hosts:
      - kdlapp.{{ requiredEnv "DOMAIN" }}

  httpScheme: http
  cookieSecret: mycookiesecret16

  image:
    tag: "v7.7.1-amd64"

  extraArgs:
    - "--upstream=http://kdl-local-server:80/"
    - "--upstream=http://127.0.0.1:9000/mlflow/"
    - "--upstream=http://127.0.0.1:9000/filebrowser/"
    - "--upstream=http://127.0.0.1:9000/kg/"
    - "--pass-user-headers=true"
    - "--skip-auth-route=/config.json"
  config:
    clientID: proxy
    clientSecret: Zj6LksErcd51Q5LQS1YH4WLsTu3YVI4M
    configFile: |-
      provider="keycloak-oidc"
      oidc_issuer_url="https://keycloak.{{ requiredEnv "DOMAIN" }}/realms/kdl"
      redirect_url="https://kdlapp.{{ requiredEnv "DOMAIN" }}/oauth2/callback"
      cookie_secret="mycookiesecret16"
      cookie_secure=true
      email_domains="*"
      set_xauthrequest=true
      http_address="https://kdlapp.{{ requiredEnv "DOMAIN" }}/"
      ssl_insecure_skip_verify=true
      whitelist_domains=["kdlapp.{{ requiredEnv "DOMAIN" }}"]
      cookie_domains=["kdlapp.{{ requiredEnv "DOMAIN" }}", "keycloak.{{ requiredEnv "DOMAIN" }}"]
      errors_to_info_log=true
      skip_provider_button=true

  extraContainers:
     - name: project-proxy
       image: nginx:alpine
       ports:
         - containerPort: 9000
       volumeMounts:
         - name: project-proxy-nginx-config
           mountPath: /etc/nginx/nginx.conf
           subPath: nginx.conf

  extraVolumes:
    - name: project-proxy-nginx-config
      configMap:
        name: project-proxy-nginx-config

# -- (DEPRECATION) only for gitea
postgres:
  dbName: gitea
  dbPassword: gitea
  storage:
    storageClassName: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

# -- PostgreSQL subchart deployment
# </br> Ref: https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
postgresql:
  enabled: true

  fullnameOverride: postgresql
  nameOverride: postgresql

  replicaCount: 1

  auth:
    postgresPassword: postgres
    username: keycloak
    password: keycloak
    database: "keycloak"

  primary:
    persistence:
      enabled: true
      size: 8Gi
      storageClass: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

projectOperator:
  enabled: true

  image:
    repository: {{ requiredEnv "IMAGE_REGISTRY" }}/konstellation/project-operator
    tag: latest
    pullPolicy: Always

  mlflow:
    image:
      repository: {{ requiredEnv "IMAGE_REGISTRY" }}/konstellation/mlflow
      tag: latest
      pullPolicy: Always
    volume:
      storageClassName: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}
    ingress:
      className: "public"

  filebrowser:
    image:
      repository: {{ requiredEnv "IMAGE_REGISTRY" }}/filebrowser/filebrowser
      pullPolicy: Always
      tag: latest

sharedVolume:
  enabled: true

  storageClassName: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

userToolsOperator:
  enabled: true

  image:
    repository: {{ requiredEnv "IMAGE_REGISTRY" }}/konstellation/user-tools-operator
    tag: latest
    pullPolicy: Always

  storage:
    storageClassName: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}

  repoCloner:
    image:
      repository: {{ requiredEnv "IMAGE_REGISTRY" }}/konstellation/repo-cloner
      tag: latest
      pullPolicy: Always

  vscode:
    image:
      repository: {{ requiredEnv "IMAGE_REGISTRY" }}/konstellation/vscode
      tag: latest
      pullPolicy: Always

  ingress:
    className: "public"

  kubeconfig:
    enabled: {{ requiredEnv "KUBECONFIG_ENABLED" }}
    externalServerUrl: {{ env "EXTERNAL_SERVER_URL" | quote }}
