@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 44 * $grid-unit;
  max-width: 60 * $grid-unit;

  background-color: palette(base, 800);

  .tabContainer {
    height: 100%;
    background-color: palette(lowlight, 900);
    padding: 1 * $grid-unit;
    overflow: auto;
  }

  .selectedTab {
    background-color: palette(lowlight, 900);
    color: font-color(light);
    &:hover {
      background-color: palette(lowlight, 900);
    }
  }
}
.title {
  @include font-body;
  color: font-color(light);

  padding: 2 * $grid-unit 0 2 * $grid-unit 2.5 * $grid-unit;
}
