@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  background-color: palette(lowlight, 900);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  @include font-body;
  color: font-color(light);

  height: 5 * $grid-unit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px palette(base, 200);

  .actions {
    display: flex;
    align-items: center;

    .starred {
      color: palette(starred);
    }

    .starredText {
      @include font-body;
      color: palette(starred);

      margin-right: 2 * $grid-unit;
    }
  }

  .titleText {
    border-left: solid 2px palette(lowlight);
    margin-left: 2.5 * $grid-unit;
    padding-left: 2.5 * $grid-unit;
  }
}
.resourceTitleAndTopics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2 * $grid-unit;
  border-left: solid $grid-unit transparent;

  .nameAndTopics {
    .name {
      @include font-title;
      color: font-color(light);
    }
  }

  &.starred {
    border-left: solid $grid-unit palette(starred);
  }
}
.content {
  flex-grow: 1;
  background-color: palette(base);
  padding: 3 * $grid-unit;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    @include font-caption;
    color: font-color(regular);

    margin-bottom: $grid-unit;
  }
  .authors {
    .authorsText {
      @include font-subheader;
      color: font-color(light);
    }
  }
  .type {
    color: font-color(light);
    margin-top: 2 * $grid-unit;
  }
  .url {
    color: font-color(lowlight);
    margin-top: 2 * $grid-unit;
    cursor: pointer;

    transition: color ease 0.3s;

    &:hover {
      color: palette(highlight);
    }
  }
  .topicsG {
    margin-top: 2 * $grid-unit;

    .topicScore {
      display: flex;
      margin-bottom: $grid-unit;

      span {
        @include font-small;
        color: font-color(light);

        margin-left: $grid-unit;
      }
    }
  }
  .abstract {
    @include font-small;
    color: font-color(lowlight);
    text-align: justify;
    line-height: 19px;

    margin-top: 4 * $grid-unit;
    overflow-wrap: break-word;
    overflow: auto;
  }
}
