@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  background-color: palette(lowlight, 900);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  @include font-body;
  color: font-color(light);

  height: 5 * $grid-unit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px palette(base, 200);

  .actions {
    display: flex;
    align-items: center;

    .starred {
      color: palette(starred);
    }

    .starredText {
      @include font-body;
      color: palette(starred);

      margin-right: 2 * $grid-unit;
    }
  }

  .titleText {
    border-left: solid 2px palette(lowlight);
    margin-left: 2.5 * $grid-unit;
    padding-left: 2.5 * $grid-unit;
  }
}
.urlRow {
  display: flex;
  align-items: center;
}

.linkIcon {
  color: font-color(lowlight);
  margin: 0 $grid-unit;
}

.resourceTitleAndTopics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2 * $grid-unit;
  border-left: solid $grid-unit transparent;

  .nameAndTopics {
    .name {
      @include font-title;
      color: font-color(light);
    }
  }

  &.starred {
    border-left: solid $grid-unit palette(starred);
  }
}
.content {
  flex-grow: 1;
  background-color: palette(base);
  padding: 3 * $grid-unit;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    @include font-caption;
    color: font-color(regular);

    margin-bottom: $grid-unit;
  }

  .authors {
    .authorsText {
      @include font-subheader;
      color: font-color(light);
    }
  }
  .type {
    color: font-color(light);
    margin: 2 * $grid-unit 0 $grid-unit 0;
  }
  .topicsG {
    margin: 2 * $grid-unit 0 $grid-unit 0;

    .topicScore {
      display: flex;
      margin-bottom: $grid-unit;

      span {
        @include font-small;
        color: font-color(light);

        margin-left: $grid-unit;
      }
    }
  }
  .abstract {
    @include font-small;
    color: font-color(lowlight);
    text-align: justify;
    line-height: 19px;

    margin: 2 * $grid-unit 0 4 * $grid-unit 0;
    overflow-wrap: break-word;

    .showAbstractText {
      color: font-color(highlight);
      margin-left: $grid-unit;
      cursor: pointer;
    }
  }

  .frameworks {
    margin-bottom: 3 * $grid-unit;
  }

  .repoUrls {
    .repoUrlTextList {
      @include font-small;
      color: font-color(light);

      background-color: palette(base, 400);
      border-radius: 0.5 * $grid-unit;

      max-height: 18 * $grid-unit;
      overflow: auto;

      .repoUrlText {
        padding: 0.5 * $grid-unit 0;
      }
    }
  }
}
