@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  position: relative;
  display: flex;
  align-items: center;
  border-left: solid 2px palette(base);

  .button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: $grid-unit * 2;
    width: 22 * $grid-unit;

    svg {
      transition: transform ease 0.3s;
      margin-left: $grid-unit * 4;
      margin-right: 0;
    }

    &.opened > svg {
      transform: scaleY(-1);
    }
  }

  .content {
    position: absolute;
    top: $grid-unit * 5;
    right: 0;
    z-index: 1;
    background-color: palette(base, 900);
    cursor: initial;
    width: 46 * $grid-unit;
    border-radius: 0.75 * $grid-unit;
    overflow: hidden;

    .contentWrapper {
      padding-top: $grid-unit * 1.75;

      .searchListContainer {
        padding: 0 $grid-unit * 1.75;
      }
    }
  }
}
