@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: palette(base, 900);
  padding: 0 2 * $grid-unit;
  height: 100%;

  .text {
    @include font-caption;
    color: font-color(lowlight);

    margin-left: 2 * $grid-unit;
  }

  .check {
    background-color: palette(base, 300);

    &:hover {
      background-color: palette(base, 200);
    }
  }
}
