@import 'Styles/colors';
@import 'Styles/variables';
@import 'Styles/mixins';

.wrapper {
  @include font-code;

  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

.wrapper p {
  margin-right: 2.5 * $grid-unit;
  white-space: pre-wrap; // Draw as <BR> the new lines in react string
}

.log {
  color: font-color(lowlight);
  padding-left: 2.5 * $grid-unit;

  &.error {
    @include circle-before(palette(error));

    color: palette(error);
    padding-left: 2.5 * $grid-unit;
  }
}
