@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  display: flex;
  align-items: center;
  width: $grid-unit * 39;
  height: $grid-unit * 5;
  background-color: palette(base, 900);
  padding: $grid-unit $grid-unit * 1.25 $grid-unit $grid-unit * 2;

  .leftLabel {
    @include font-caption;
    color: font-color(regular);
  }

  .percentageLabel {
    @include font-caption;
    color: font-color(lowlight);
    width: $grid-unit * 5;

    &.maxLabel {
      text-align: right;
    }

    &.minLabel {
      margin-left: $grid-unit * 1.5;
      text-align: left;
    }
  }

  .slider {
    margin-left: $grid-unit;
    width: $grid-unit * 18.125;
  }
  .rail {
    color: palette(base, 400);
    opacity: 1;
  }
  .track {
    color: palette(highlight, 700);
  }

  .thumb {
    color: palette(highlight, 600);
    width: $grid-unit * 2;
    height: $grid-unit * 2;
    margin-top: -7px;
    transition: unset;

    &:hover {
      box-shadow: unset !important;
    }

    &::after {
      width: $grid-unit * 1.75;
      height: $grid-unit * 1.75;
      top: unset;
      bottom: unset;
      right: unset;
      left: unset;
      background-color: palette(highlight);
      border: 3px solid palette(base, 900);
      @include glow(3, palette(highlight))
    }
  }

  .focusVisible, .active, .focusVisible:hover, .active:hover  {
    box-shadow: unset !important;
  }
}
