operator:
  replicas: 1

  watchNamespace: "*"
  resources: {}

database:
  name: mongodb-database

registry:
  pullPolicy: IfNotPresent

community-operator-crds:
  enabled: true

createResource: false
