@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.header {
  padding: 2 * $grid-unit;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: $grid-unit;

    .headerName {
      display: inline;
      color: white;
      margin-bottom: 2 * $grid-unit;
      text-align: left;
      @include font-headline;
    }
  }
  .runtimeLabels{
    display: flex;
    flex-direction: row;
    margin-bottom: $grid-unit;

    .runningTag {
        @include font-small;
        position: relative;
        float: left;
        margin: 0 1.5 * $grid-unit 1.1 * $grid-unit 0;
        padding: 0.4 * $grid-unit 1.5 * $grid-unit;
        margin-top: 0.75 * $grid-unit;
        text-align: center;
        background-color: palette(success, 700);
        border-radius: 2 * $grid-unit;
        color: palette(base);
        font-weight: bold;
        width: fit-content
      }

      .loadingTag {
        @extend .runningTag;
        background-color: palette(feedback);
      }

      .capabilitiesTag {
        @extend .runningTag;
        background-color: palette(starred);
      }
  }
  .runtimeTags {
    display: flex;
    flex-direction: row;
  }
}

.body {
  height: 100%;
  padding: 4 * $grid-unit;
  background-color: palette(base, 900);

  h2 {
    @include font-caption;
    text-transform: uppercase;
    color: font-color(regular);
  }

  .runtimeDescription {
    @include font-body;
    color: font-color(regular);
  }
  .dockerImage {
    margin-top: 3 * $grid-unit;
    p {
      @include font-body;
    }
  }
  .runtimeHelp {
    @include font-small;
    color: font-color(lowlight);
    white-space: pre-line;
    background-color: palette(base, 400);
    margin-top: 2 * $grid-unit;
    padding: 2 * $grid-unit;
    border-radius: 0.5 * $grid-unit;
    max-width: 125 * $grid-unit;

    .highlight {
      color: font-color(light);
    }
  }
}
