@import 'Styles/colors';

.icon {
  color: palette(success);
}

.RUNNING {
  fill: palette(success);
}

.STOPPED {
  fill: palette(alert);
}

.LOADING {
  fill: palette(feedback);
}

.NOT_SELECTED {
  fill: transparent;
  stroke: palette(lowlight);
}
