@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 100%;

  > div {
    background-color: palette(base, 900);
    margin-bottom: 0.75 * $grid-unit;
  }
}
