@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // flex is reverted to align wrapping to the right when decreasing the screen size
  flex-direction: row-reverse;
  height: 100%;

  > div {
    background-color: palette(base, 400);
    border-bottom: solid 2px palette(base);
    height: 5 * $grid-unit;
  }

  > div:not(:last-child) {
    border-left: solid 2px palette(base);
  }
}
