@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  position: absolute;
  bottom: 3 * $grid-unit;
  right: 4 * $grid-unit;
  min-width: 206px;

  background-color: palette(base, 700);
  border: solid 2px palette(base, 900);

  z-index: 3;
}

.minimap {
  transition: height ease 0.4s, width ease 0.4s;
}

.bar {
  height: 5 * $grid-unit;
  background-color: palette(base, 900);
}

.active {
  color: font-color(light);
}

.circle {
  fill: palette(base, 800);
}

.guide {
  fill-opacity: 0;
  stroke: palette(base, 900);
  stroke-width: 1px;
}

.resourceG,
.resource,
.resourceGroup,
.resourceNode,
.resourcesWrapper {
  opacity: 1;
}

.zoomArea {
  fill-opacity: 0;
  stroke: palette(highlight);
  fill: palette(highlight);
  fill-opacity: 0.04;
  stroke-width: 1px;
}

.bar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .actions,
  .zoom {
    display: flex;
    align-items: center;
  }

  .actions {
    border-right: solid 2px palette(base);
  }

  .zoom {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .textButton {
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    max-width: 7 * $grid-unit;

    > div {
      padding: inherit;
    }
  }

  .zoomValue {
    @include font-button;
    color: font-color(light);

    text-align: center;
    width: 6 * $grid-unit;
    flex-shrink: 0;
  }
}
