@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.resourcesWrapper {
  pointer-events: none;
}

.resource {
  pointer-events: all;
  fill: palette(highlight);
  fill-opacity: 0.3;
  stroke-opacity: 0;
  stroke-width: 2 * $grid-unit;

  &.unhighlight {
    transition: stroke ease 0.4s;
  }

  &.highlight {
    fill: white;
    fill-opacity: 1;
    // stroke: palette(highlight);
    // filter: url(#resourceGlow);
  }

  &:hover {
    fill: white;
    fill-opacity: 1;
    // filter: url(#resourceGlow);
  }
}
