@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.title {
  @include font-small;
  color: font-color(lowlight);

  margin: 3 * $grid-unit 3 * $grid-unit 0 3 * $grid-unit;
}

.container {
  height: 100%;
  overflow: auto;
}

.actionBox {
  padding: 3 * $grid-unit;
}
