@import 'Styles/colors';
@import 'Styles/variables';
@import 'Styles/mixins';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    @include font-title;
    color: font-color(light);
    margin-top: 0;
  }

  .subtitle {
    @include font-body;
    color: font-color(lowlight);
  }

  .formContainer {
    margin-top: 3.75 * $grid-unit;
    display: flex;
    flex-direction: column;

    .form {
      width: 60%;
    }
  }
}
