@import 'Styles/variables';
@import 'Styles/colors';
@import 'Styles/mixins';

.container {
  height: 100%;
  padding: 8 * $grid-unit;
}

.title {
  @include font-title;
  color: font-color(light);

  margin-top: 0;
}

.subtitle {
  @include font-small;
  color: font-color(regular);
}

.content {
  margin-top: 6 * $grid-unit;
}

.buttonSave {
  width: 14 * $grid-unit;
}

.buttonCancel {
  width: 16 * $grid-unit;
}

.disclaimer {
  margin-top: 5 * $grid-unit;
  padding: 2 * $grid-unit;
  border: solid 1px palette(alert);

  transition: border-color ease 0.4s;

  &.disclaimerError {
    border-color: palette(error);
    border-radius: 4px;
  }

  .disclaimerTitle {
    @include font-subheader;
    color: font-color(lowlight);

    margin-top: 0;
  }
  .disclaimerDesc {
    @include font-small;
    color: font-color(lowlight);
  }
  .formConfirmation {
    display: flex;
    align-items: center;

    margin-top: 2 * $grid-unit;

    .disclaimerLabel {
      @include font-small;
      color: font-color(lowlight);

      margin: 0 0 0 2 * $grid-unit;
    }
  }
}

.error {
  @include input-footer(palette(error));
  color: palette(error);
}
