@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  overflow: auto;
  padding-bottom: 10 * $grid-unit;

  .subtitle {
    @include font-body;
    color: font-color(lowlight);

    background-color: palette(lowlight, 900);
    margin: 0;
    padding: 2 * $grid-unit 3 * $grid-unit 2 * $grid-unit 3 * $grid-unit;

    .highlight {
      color: font-color(light);
    }

    .link {
      color: font-color(light);
      text-decoration: underline;
    }
  }
}
