@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  @include shadow(2);
  display: flex;
  flex-direction: column;
  background-color: palette(base);
  padding: $grid-unit;
  @include font-body;
  color: font-color(grey);

  &:hover {
    background-color: palette(lowlight, 900);

    .name {
      @include font-body;
      color: font-color(light);
    }
  }

  .nameContainer {
    margin-left: $grid-unit;
    display: flex;

    .name {
      display: flex;
      margin-left: $grid-unit;
    }
  }

  .labels {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5 * $grid-unit;
    margin-top: 1.1 * $grid-unit;
    margin-left: 4 * $grid-unit;

    .label {
      position: relative;
      float: left;
      margin: 0 1.5 * $grid-unit 0 0;
      padding: 0.4 * $grid-unit 1.5 * $grid-unit;
      background-color: palette(lowlight);
      border-radius: 0.5 * $grid-unit;
      @include font-small;
      color: font-color(dark);
    }
  }

}
