@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  flex-grow: 1;
  position: relative;
  width: 100%;
  background-color: palette(base, 600);

  display: flex;
  overflow: hidden;
}

.contentLayer {
  height: 100%;
  width: 100%;
}
.panelLayer {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.panels {
  @include glow(3, black);
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.content {
  flex-grow: 1;
  height: 100%;
}
