resources:
  - apiVersion: batch/v1
    kind: Job
    metadata:
      name: keycloak-initial-data
    spec:
      template:
        spec:
          initContainers:
            - name: wait-for-keycloak
              image: busybox
              command:
                - /bin/sh
                - -c
              args:
                - |
                  until nc -zv keycloak 80 > /dev/null; do
                    sleep 10
                  done
                  echo "Keycloak is up and running!"
          containers:
            - name: keycloak-create-user
              image: keycloak/keycloak:26.0
              command:
                - /bin/sh
                - -c
              args:
                - |
                  cd /opt/keycloak/bin
                  ./kcadm.sh config credentials --server http://keycloak --realm master --user {{ .Values.keycloak_admin_user | quote }} --password {{ .Values.keycloak_admin_password | quote }}
                  ./kcadm.sh create users -r kdl -s username={{ requiredEnv "KEYCLOAK_DEFAULT_USER" | quote }} -s enabled=true -s emailVerified=true -s email={{ requiredEnv "KEYCLOAK_DEFAULT_USER" | quote }}@konstellation.io -s firstName={{ requiredEnv "KEYCLOAK_DEFAULT_USER" | quote }} -s lastName={{ requiredEnv "KEYCLOAK_DEFAULT_USER" | quote }} || true
                  ./kcadm.sh set-password -r kdl --username {{ requiredEnv "KEYCLOAK_DEFAULT_USER" | quote }} --new-password {{ requiredEnv "KEYCLOAK_DEFAULT_PASSWORD" | quote }}
          restartPolicy: Never
      backoffLimit: 1
