Dockerfile
Makefile
*/*/mock-server
*/*/*.md
*/*/coverage
*/*/node_modules
ui/node_modules
/node_modules
*/*/cypress
*/*/docs
*.properties
*/*/Mocks
.env*
*/*/*test?.tsx
*/*/*spec.tsx
*/*/*Test?.tsx
.dockerignore
.git
.gitignore
.hadolint.yml
