domain: toolkit.local

giteaOauth2Setup:
  image:
    repository: konstellation/gitea-oauth2-setup
    tag: "latest"
    pullPolicy: IfNotPresent

ingress:
  type: "nginx"

jupyter:
  image:
    repository: konstellation/jupyter-gpu
    tag: "latest"
    pullPolicy: IfNotPresent
  enterpriseGatewayUrl: http://enterprise-gateway.kdl.svc.cluster.local:8888

oauth2Proxy:
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.0.1-amd64
    pullPolicy: IfNotPresent

repoCloner:
  image:
    repository: konstellation/repo-cloner
    tag: "latest"
    pullPolicy: IfNotPresent

sharedVolume:
  name: ""

storage:
  size: 10Gi
  className: standard

tls: false

username: user.name

usernameSlug: user-name

vscode:
  image:
    repository: konstellation/vscode
    tag: "latest"
    pullPolicy: IfNotPresent

vscodeRuntime:
  image:
    repository: konstellation/kdl-py
    tag: "3.9"
    pullPolicy: Always
