@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  @include shadow(4);

  border-top: solid transparent $grid-unit;
  border-radius: 0 0 0.5 * $grid-unit 0.5 * $grid-unit;
  width: fit-content;
  margin: 2 * $grid-unit;

  transition: border-top-color ease 0.3s;

  &.ok {
    border-top-color: palette(success);
  }
  &.alert {
    border-top-color: palette(alert);
  }
}
