@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  overflow: auto;
  width: 50%;
  margin-top: 2*$grid-unit;
  margin-left: 2*$grid-unit;
  border-style: solid;
  background-color: palette(base);
  border-color: palette(base, 300);
  border-width: 1px;
  border-radius: 0.5*$grid-unit;

  .kubeconfig {
    padding: $grid-unit;
    @include font-code;
    white-space: pre-wrap;
  }
  .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    .button {
      width: 42px;
    }
  }
}
