@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  position: relative;
  display: flex;
  gap: $grid-unit * 3;
  padding: 0 $grid-unit * 2;
  align-items: center;
  justify-content: space-between;

  > div:not(:last-child):after {
    position: absolute;
    right: -12px;
    content: '/';
  }
}
