@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  height: 5 * $grid-unit;
  display: flex;
  align-items: center;
  color: font-color(light);
  padding-left: 2 * $grid-unit;
  cursor: pointer;
  background-color: transparent;

  transition: background-color ease 0.4s;

  &.saveCheckSpace .infoContainer {
    margin-left: 3.25 * $grid-unit;
  }

  &:hover {
    background-color: palette(base, 200);
  }

  .check {
    flex-shrink: 0;

    &.unselected {
      background-color: palette(base, 500);

      &:hover {
        background-color: palette(base, 400);
      }
    }
  }

  .infoContainer {
    margin-left: $grid-unit;
    padding-right: 2 * $grid-unit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .leftWrapper {
      display: flex;
      align-items: center;
      width: 100%;

      .email {
        @include font-body;
        margin-left: $grid-unit;
        word-break: break-all;
        margin-right: $grid-unit;
      }
    }

    .rightWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .accessLevel {
        @include font-caption;
        text-transform: uppercase;
      }

      .button {
        margin-left: $grid-unit;
      }
    }
  }
}
