@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  height: 5 * $grid-unit;
  display: flex;
  align-items: center;
  color: font-color(light);
  padding-left: 2 * $grid-unit;
  background-color: palette(base, 600);

  transition: background-color ease 0.4s;

  &.active,
  &:hover {
    background-color: palette(base, 400);
  }
}

.email {
  @include font-body;
  margin-left: $grid-unit;
}

.level {
  @include font-caption;

  margin-left: 4 * $grid-unit;
}

.button {
  margin-left: auto;
}
