@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.projectTools {
  background-color: palette(base, 300);

  a:hover > div {
    background-color: palette(base, 200) !important;
  }

  .userTools {
    border-top: 2px solid palette(base, 400);
    margin-top: $grid-unit;
    transition: border-right 0.3s ease;
    border-right: 2px solid transparent;

    &.started {
      border-right: 2px solid palette(success);
    }
    &.stopped {
      border-right: 2px solid palette(alert);
    }

    .userToolLabel {
      @include font-caption;
      color: font-color(regular);
      width: 100%;
      white-space: nowrap;
      margin-left: 5 * $grid-unit;
    }

    .usertoolsIcon {
      margin: $grid-unit;
      cursor: pointer;

      &.blocked {
        color: palette(alert);
      }
      &:hover {
        color: palette(highlight);
      }
    }

    .usertoolsOptions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
    }

    .usertoolsSettings {
      display: flex;
    }

    .toggleToolsWrapper {
      border-top: 2px dotted palette(base, 400);
      transition: opacity 0.3s ease;

      .loadingTools {
        color: palette(highlight);
        margin: 0 1.4 * $grid-unit;
        transition: transform ease 0.3s;
        flex-shrink: 0;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}

.toolsTip {
  opacity: 1 !important;
  box-shadow: 0 0 2*$grid-unit -0.5*$grid-unit black !important;
}
