@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.projectTools {
  background-color: palette(base, 300);
  a:active > div,
  a:hover > div,
  a:focus > div {
    background-color: palette(base, 200) !important;
  }

  .userTools {
    border-top: 2px solid palette(base, 400);
    margin-top: $grid-unit;
    transition: border-right 0.3s ease;
    border-right: 2px solid transparent;

    &.started {
      border-right: 2px solid palette(success);
    }
    &.stopped {
      border-right: 2px solid palette(alert);
    }
    &.loading {
      border-right: 2px solid palette(feedback);
    }

    .userToolLabel {
      @include font-caption;
      display: flex;
      color: font-color(regular);
      width: 100%;
      white-space: nowrap;
      margin-left: 2 * $grid-unit;
      @include circle-before(#3d3d3d);
      &.pending:before {
        background-color: palette(alert);
        top: $grid-unit - 5px;
      }
      &.running:before {
        background-color: palette(success);
        top: $grid-unit - 5px;
      }
      &.error:before {
        background-color: palette(error);
        top: $grid-unit - 5px;
      }
      padding-left: 3 * $grid-unit;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .usertoolsIcon {
      margin: $grid-unit;
      cursor: pointer;
      &.blocked {
        color: palette(alert);
      }
      &:active,
      &:hover,
      &:focus {
        color: palette(highlight);
      }
    }

    .usertoolsOptions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div[data-for="settings"],
      div[data-for="start"],
      div[data-for="stop"] {
        display: flex;
        justify-content: center;
        svg {
          width:  $grid-unit * 2;
          height: $grid-unit * 2;
        }
      }
      &.opened {
        height: 40px;
        div[data-for="settings"],
        div[data-for="start"],
        div[data-for="stop"] {
          svg {
            width: $grid-unit + 4;
            height: $grid-unit + 4;
          }
        }
      }
    }

    .usertoolsSettings {
      display: flex;
      flex-direction: column;
      width: 100%;
      .progressSpinnerContainer {
        margin-top: 0;
        margin-left: 13px;
      }
      &.opened {
        flex-direction: row;
        width: auto;
        .progressSpinnerContainer {
          margin-top: $grid-unit;
          margin-left: $grid-unit;
          margin-right: $grid-unit;
        }
      }
    }

    .toggleToolsWrapper {
      border-top: 2px dotted palette(base, 400);
      transition: opacity 0.3s ease;
      .loadingTools {
        color: palette(highlight);
        margin: 0 1.4 * $grid-unit;
        transition: transform ease 0.3s;
        flex-shrink: 0;
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
