@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

:root {
  --ktPanelsMaxWidth: 200px;
}
.container {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: palette(base, 600);
  display: flex;
  overflow: hidden;
}
.contentLayer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  background-color: palette(base, 900);
}
.panelLayer {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 6;
}
.panels {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin-left: var(--ktPanelsMaxWidth);
  @include glow(3, black);
  transition: width ease 0.3s, margin-left ease 0.3s;
}
.content {
  flex-grow: 1;
  height: 100%;
}
.runtimeModal {
  width: 75 * $grid-unit;
  .runtimeModalInfo {
    margin-top: 0;
    margin-bottom: 2 * $grid-unit;
  }
  p {
    margin-bottom: $grid-unit;
  }
}
@media ( min-width: $kt-mq-low-width ) {
  .panels {
    margin-left: 0;
  }
}
