@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2 * $grid-unit 2 * $grid-unit 2 * $grid-unit;

  .actionsLabel {
    @include font-caption;
    color: font-color(regular);

    margin-right: $grid-unit;
  }

  .accessLevelSelector {
    margin-left: $grid-unit;
    min-width: 28 * $grid-unit;

    & > div {
      & > div:last-child > div:hover {
        box-shadow: unset;
        background-color: palette(lowlight);
      }
      & > div:first-child {
        min-height: 30px;
      }
    }

    .separator {
      @include font-caption;
      color: font-color(regular);

      cursor: default;
      background-color: palette(base);

      border-top: 2px solid palette(base, 900);

      &:hover {
        background-color: palette(base);
        color: font-color(regular);
      }
    }

    .manageMemberButton:hover {
      background-color: palette(lowlight);
    }
  }
}
