@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2 * $grid-unit 2 * $grid-unit 2 * $grid-unit;

  .actionsLabel {
    @include font-caption;
    color: font-color(regular);

    margin-right: $grid-unit;
  }

  .accessLevelSelector {
    margin-left: $grid-unit;
    min-width: 28 * $grid-unit;

    .separator {
      @include font-caption;
      color: font-color(regular);

      cursor: default;
      background-color: palette(base);

      border-top: 2px solid palette(base, 900);
    }

    .removeMemberOption {
      @include font-small;
      color: font-color(lowlight);

      display: flex;
      align-items: center;
      height: 5 * $grid-unit;

      .removeIcon {
        width: 5 * $grid-unit;
      }

      &:hover {
        color: font-color(dark);
      }
    }
  }
}
