@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

$big-triangle-base: 108px;
$small-triangle-base: 37px;
$band-height: 5 * $grid-unit;
$label-height: 3 * $grid-unit;

// When server is not clickable, highlight only the action buttons
.cannotOpen {
  .bg {
    cursor: default;
  }

  .container {
    &:hover {
      .bg {
        background-color: palette(base, 400);
      }
      .nameSection .name,
      .url {
        color: inherit;
      }
      .actionButtonContent,
      .actionButtonBg:hover + .actionButtonContent {
        color: palette(highlight);
      }
    }
  }
}

.container {
  position: relative;

  height: 153px;
  width: 479px;
  margin: 0 0 2 * $grid-unit 28px;
  flex-shrink: 0;
  pointer-events: none;

  &:first-child {
    margin-left: 38px;
  }

  &:hover {
    .bg {
      box-shadow: inset 0 0 0 3px transparent,
        0 2px 3 * $grid-unit 0 palette(highlight, 900);
      background-color: palette(highlight, 900);
      border-color: palette(highlight);
    }

    .nameSection .name,
    .url {
      color: palette(highlight);
    }
  }
}

.bg {
  background-color: palette(base, 400);
  transform: skew(-26.5deg);
  height: 100%;
  box-shadow: inset 0 0 0 2px palette(base);
  border: solid 1px palette(base);
  pointer-events: all;
  cursor: pointer;

  transition: background-color ease 0.4s, box-shadow ease 0.4s,
    border-color ease 0.4s;

  .bgBand {
    position: absolute;
    bottom: 0;
    height: $band-height;
    width: 100%;
    background-color: palette(base);
  }
}

.label {
  @include font-button;
  color: font-color(dark);
  text-align: center;
  line-height: $label-height;

  position: absolute;
  bottom: $band-height - $label-height / 2;
  left: 40px;

  height: $label-height;
  min-width: 150px;
  padding: 0 5 * $grid-unit;

  border-bottom-right-radius: 3 * $grid-unit;
  border-top-right-radius: 3 * $grid-unit;

  background-color: palette(feedback);

  transition: background-color ease 0.4s;

  &.STARTED,
  &.SIGNED_IN {
    background-color: palette(success);
  }

  &.STARTING,
  &.STOPPING {
    background-color: palette(feedback);
  }

  &.STOPPED,
  &.SIGNED_OUT {
    background-color: palette(lowlight);
  }

  &.noOffset {
    left: -24px;
    clip-path: polygon(0.9px 100%, 13px 0, 100% 0, 100% 100%);
  }
}

.triangle {
  @include make-triangle($big-triangle-base, palette(base));
  position: absolute;
  bottom: 1px;
  left: -36px;

  &.down {
    transform: rotateX(180deg);
    top: 1px;
    left: auto;
    right: -36px;
  }

  .state {
    @include make-triangle($small-triangle-base, palette(error));
    // @include make-triangle($small-triangle-base, transparent);
    position: absolute;
    top: $small-triangle-base + 13px;
    left: -$small-triangle-base/2;

    transition: border ease 0.4s;

    &.STARTED,
    &.SIGNED_IN {
      border-bottom-color: palette(success);
    }

    &.STARTING,
    &.STOPPED,
    &.STOPPING,
    &.SIGNED_OUT {
      border-bottom-color: palette(base);
    }

    &.STARTING,
    &.STOPPING {
      transition: border ease 0s;
      animation: loading-anim 3s ease 0s infinite;
    }
  }

  .stateBorder {
    @include make-triangle($small-triangle-base + 4px, palette(highlight));
    // @include make-triangle($small-triangle-base, transparent);
    position: absolute;
    top: $small-triangle-base + 10px;
    left: -$small-triangle-base/2 - 2px;

    transition: border ease 0.4s;

    &.STARTED,
    &.SIGNED_IN {
      border-bottom-color: palette(success);
    }

    &.STARTING,
    &.STOPPING {
      border-bottom-color: palette(feedback);
    }

    &.STOPPED,
    &.SIGNED_OUT {
      border-bottom-color: palette(lowlight);
    }
  }
}

.actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5 * $grid-unit;
  display: flex;
  justify-content: flex-end;
  right: 28px;

  .warning {
    @include font-button;
    color: palette(alert);

    margin-right: 4 * $grid-unit;
  }
}

.nameSection {
  position: absolute;
  top: 2.5 * $grid-unit;
  left: 7.5 * $grid-unit;

  display: flex;
  align-items: center;

  .name {
    @include font-subheader;
    color: font-color(light);

    margin: 0;
    transition: color ease 0.4s;
  }

  .localTag {
    @include font-small;
    color: font-color(lowlight);
    line-height: 3 * $grid-unit;

    background-color: palette(base);
    height: 3 * $grid-unit;
    border-radius: $grid-unit / 2;
    padding: 0 $grid-unit;
    margin-left: 2 * $grid-unit;
  }
}

.url {
  @include font-body;
  color: font-color(lowlight);

  position: absolute;
  top: 48.48px;
  left: 60px;
  width: 380px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  transition: color ease 0.4s;

  .text {
    margin: 0 2 * $grid-unit 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: all;
  }

  .copy {
    pointer-events: all;
    color: inherit;

    transition: unset;

    &:hover {
      color: font-color(light);
    }
  }
}

.actionButtonContainer {
  position: relative;
  height: 5 * $grid-unit;
  width: 15 * $grid-unit;
  margin: -1px 1px 0 0;

  .actionButtonBg {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: skew(-26.5deg);
    background-color: transparent;
    pointer-events: all;
    cursor: pointer;

    transition: background-color ease 0.4s, box-shadow ease 0.4s;

    &:hover {
      background-color: palette(lowlight, 900);
    }
  }

  .actionButtonBg:hover + .actionButtonContent {
    color: font-color(light);
  }

  .actionButtonContent {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    width: 100%;
    color: font-color(lowlight);
    pointer-events: none;

    transition: color ease 0.4s;

    .actionButtonLabel {
      @include font-button;

      margin-left: $grid-unit;
      text-align: center;
    }
  }
}

.addServerContainer {
  position: relative;
  height: 153px;
  width: 479px;
  margin: 0 0 2 * $grid-unit 28px;
  flex-shrink: 0;

  &:hover {
    .addServerBg {
      border: 1px solid palette(highlight);
    }
    .addServerLabel {
      color: font-color(highlight);
    }
  }

  .addServerBg {
    width: 100%;
    height: 100%;
    transform: skew(-26.5deg);
    border: 1px dashed font-color(regular);
    cursor: pointer;

    transition: border ease 0.4s, background-color ease 0.4s;
  }

  .addServerLabel {
    @include center;

    @include font-button;
    color: font-color(regular);

    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;

    transition: color ease 0.4s;

    p {
      margin-left: 2 * $grid-unit;
    }
  }
}

@keyframes loading-anim {
  0%,
  100% {
    border-bottom-color: palette(base);
  }
  50% {
    border-bottom-color: palette(feedback, 900);
  }
}
