{{ if and .Values.knowledgeGalaxy.enabled .Values.knowledgeGalaxy.serviceaccount.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "knowledgeGalaxy.serviceAccountName" . }}
  labels:
    app: knowledge-galaxy
  {{- with .Values.knowledgeGalaxy.serviceaccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- with .Values.knowledgeGalaxy.serviceaccount.imagePullSecrets }}
imagePullSecrets:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
