@import 'Styles/colors';
@import 'Styles/variables';
@import 'Styles/mixins';

.sidebar {
  @include font-body;

  display: flex;
  flex-direction: column;
  margin-top: 3 * $grid-unit;

  .line {
    margin: $grid-unit 0 0 0;
  }

  .repoList {
    padding-left: 1.75 * $grid-unit;
  }

}
