@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.runtimeModal {
  width: 75 * $grid-unit;
  .title {
    font-weight: bold;
    text-decoration: underline;
  }
  .runtimeModalInfo {
    margin-top: 0;
    margin-bottom: 2 * $grid-unit;
  }
  p {
    margin-bottom: $grid-unit;
  }

  &.close {
    border-left-color: palette(highlight);
    div + div + div {
      &:last-of-type {
        div > div {
          padding: $grid-unit / 2 $grid-unit * 2;
          height: auto!important;
          &:first-of-type:not(.content) {
            background: palette(highlight);
            margin: 0;
            &:active,
            &:focus,
            &:hover {
              box-shadow: 0 2px 16px 0 palette(highlight);
            }
          }
        }
      }
    }
  }
}
