@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  background-color: white;

  &.hidden {
    z-index: -1;
    background-color: transparent;
  }

  .iframeContainer {
    height: 100%;
    width: 100%;
    border: none;
  }

  .shield {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffff1a;
  }
}
