apiVersion: v1
kind: ConfigMap
metadata:
  name: drone
  labels:
    app:  drone
data:
  DRONE_GITEA_SKIP_VERIFY: "true"
  DRONE_GITEA_SERVER: {{ printf "%s://gitea.%s" ( include "http.protocol" . ) .Values.global.domain }}
  DRONE_GIT_ALWAYS_AUTH: "true"
  DRONE_SERVER_PROTO: {{ printf "%s" ( include "http.protocol" . ) }}
  DRONE_SERVER_HOST: drone.{{ .Values.global.domain }}
  DRONE_TLS_AUTOCERT: "false"
  DRONE_LOGS_DEBUG: "true"
  DRONE_DATABASE_DRIVER: postgres
