@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.list {
  background-color: palette(lowlight, 900);
  display: flex;
  flex-direction: column;
  height: 100%;

  .top {
    padding-right: $grid-unit;
  }

  .listWrapper {
    margin-top: 1.5 * $grid-unit;
    height: 100%;
    overflow: auto;
    padding-right: $grid-unit;
  }
}
