@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  padding: 3 * $grid-unit 2 * $grid-unit;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.description {
  background-color: palette(base, 800);
  flex-grow: 1;
  padding: 2 * $grid-unit;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .title {
    @include font-caption;
    color: font-color(regular);

    margin-bottom: 2 * $grid-unit;
  }
  .content {
    @include font-body;
    color: font-color(light);

    white-space: pre-line;
    overflow: auto;
  }
}
