@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  background-color: palette(base, 800);
}

.content {
  padding: 4 * $grid-unit;
  overflow: auto;
}

.actions {
  height: 7 * $grid-unit;
  align-items: center;
  padding: 0 3 * $grid-unit 0 4 * $grid-unit;
  background-color: palette(base);

  .actionsContent {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left,
    .right,
    .toolsStatus {
      display: flex;
      align-items: center;
    }

    .toggleActiveButton {
      width: $grid-unit * 13;
    }

    .toolsStatus {
      @include font-caption;
      color: palette(alert);

      transition: color ease 0.3s;

      span {
        margin-left: $grid-unit;
      }

      &.active {
        color: palette(success);
      }
    }

    .actionMessage {
      @include font-caption;
      color: font-color(light);

      margin-right: 2 * $grid-unit;
    }
  }
}

.row {
  display: flex;

  & > div:not(:last-child) {
    margin-right: 3 * $grid-unit;
  }
}
.row:first-child {
  margin-bottom: 3 * $grid-unit;
}

.multiCard {
  display: flex;
}

.group {
  padding: 2 * $grid-unit;
  background: linear-gradient(
    to bottom,
    palette(lowlight, 900) 0%,
    palette(base, 500) 100%
  );
  border-radius: 0.5 * $grid-unit;
  width: fit-content;

  .groupTitle {
    @include font-subheader;
    color: font-color(light);

    margin: 0;
  }
  .groupContent {
    padding: 2 * $grid-unit 2 * $grid-unit 0 2 * $grid-unit;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  padding: 0 2 * $grid-unit 2 * $grid-unit 2 * $grid-unit;
  cursor: pointer;

  transition: background-color ease 0.3s, opacity ease 0.3s;

  &:hover {
    background-color: palette(base, 400);
  }

  &.disabled {
    pointer-events: none;
    background-color: palette(base, 400);
    opacity: 0.6;
  }

  .imgContainer {
    position: relative;
    height: 7.5 * $grid-unit;
    margin-top: 3 * $grid-unit;

    .toolImg {
      @include center;
      width: 7.5 * $grid-unit;
    }
  }

  .toolTitle {
    @include font-subheader;
    color: font-color(light);

    margin: 2 * $grid-unit 0;
  }

  .toolDescription {
    @include font-small;
    color: font-color(regular);
    text-align: center;

    width: 17.5 * $grid-unit;
    margin: 0 0 3 * $grid-unit 0;
  }
}
