@import 'Styles/mixins';
@import 'Styles/variables';

.adminEmail {
  @include font-body;
  height: 5 * $grid-unit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    line-break: anywhere;
  }

  .actions {
    display: flex;
    align-items: center;
  }
}
