@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.resource {
  cursor: pointer;
  background-color: palette(base, 400);
  border-radius: $grid-unit / 2;
  padding: 1.25 * $grid-unit 2 * $grid-unit;
  margin-top: $grid-unit;
  border-left: solid 4px transparent;
  animation: border-left-color ease 0.4s;

  transition: background-color ease 0.3s;

  &:hover {
    border-left-color: palette(highlight);
    background-color: palette(base, 900);
  }

  &.starred {
    border-left-color: palette(starred);
  }

  .typeAndScore {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rTypeWrapper {
      display: flex;
      align-items: center;

      .timeField {
        display: flex;
        align-items: center;
        color: font-color(lowlight);

        .rType {
          @include font-caption;
          color: font-color(regular);

          margin: 0 $grid-unit;
        }
      }
    }
  }

  .rTitle {
    @include font-body;
    color: font-color(light);

    display: flex;
    margin-top: $grid-unit;

    .starIcon {
      margin-right: $grid-unit;
      color: palette(starred);
    }
  }

  .rCategory {
    @include font-small;
    color: font-color(lowlight);
    margin-top: $grid-unit;
  }

  .topics {
    display: flex;
    margin-left: $grid-unit;
  }
  .topic {
    @include font-small;
    color: font-color(lowlight);
    background-color: palette(base, 500);
    padding: 0.5 * $grid-unit $grid-unit;
    border-radius: 0.5 * $grid-unit;
    margin-right: $grid-unit;

    white-space: pre;
    max-width: 15 * $grid-unit;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
