@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  height: 5 * $grid-unit;
  background-color: palette(lowlight, 900);
  white-space: nowrap;
  border-bottom: solid 1px palette(base);

  z-index: 999;
}

.left,
.right {
  display: flex;
  z-index: 3;
}
