[paths]
# Processed data directory on shared volume
dir_processed = /shared-storage/{{ .ProjectID }}/data/processed

# Temporary artifact storage (before logging to MLflow)
# By default this gets created on the Drone runner filesystem. If you are handling
# very large files, consult with your KDL admin to avoid running out of disk space
artifacts_temp = artifacts

# Location of MLflow artifacts (to access saved models from previous runs etc.)
artifacts_mlflow = /shared-storage/{{ .ProjectID }}/mlflow-artifacts

[mlflow]
mlflow_experiment = Default

[filenames]
fname_model = densenet.pt
fname_conf_mat = confusion_matrix.png

[training]
random_seed = 0
n_workers = 2
batch_size = 30
epochs = 80
lr = 0.0001
