@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  @include shadow(2);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: palette(lowlight, 900);

    .project {
      .projectName {
        @include font-small;
        padding: $grid-unit 2 * $grid-unit;
        border-left: 3px solid transparent;
        color: font-color(lowlight);

        transition: 
          background-color ease 0.3s, 
          border-left-color ease 0.3s,
          color ease 0.2s, opacity ease 0.3s;

        &:active,
        &:hover,
        &:focus {
          border-left-color: palette(highlight);
          color: palette(highlight);
          text-shadow: 0 0 16px  palette(highlight);
        }
      }

      &.selectedProject {
        cursor: default;
        pointer-events: none;
        .projectName {
          border-left-color: palette(highlight);
          color: palette(highlight);

        }
      }
    }
  }

  .addProjectButton {
    border-top: 2px solid palette(base);
    border-bottom-left-radius: $grid-unit / 2;
    border-bottom-right-radius: $grid-unit / 2;
    background-color: palette(lowlight, 900);
  }
}
