@import 'Styles/variables';
@import 'Styles/colors';
@import 'Styles/mixins';

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: palette(base, 900);

  .wrapper {
    background-color: palette(base, 800);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8.5 * $grid-unit 19 * $grid-unit 0 19 * $grid-unit;
    width: 79 * $grid-unit;
    height: 100%;

    .infoMessageWrapper {
      @include font-small;
      color: font-color(lowlight);
      margin-top: 2 $grid-unit;
      text-align: left;
      padding: $grid-unit ;

      &.error {
        border: 1px solid palette(error, 700);
        border-radius: 0.5 * $grid-unit;
      }

      .infoMessage {
        max-height: 10 * $grid-unit;
        overflow: auto;
      }
    }

    .buttonsContainer {
      display: flex;
      margin-top: 3.75 * $grid-unit;
      width: 100%;
      justify-content: space-between;

      .button {
        color: font-color(light);
        background-color: palette(lowlight, 800);
      }
    }
  }
}

.animation {
  margin: 2 * $grid-unit 0;
}
