@import './variables';
@import './colors';
@import './mixins';

$tab-min-width: 13 * $grid-unit;
$tab-height: 3.5 * $grid-unit;

.react-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &__tab-panel {
    height: 100%;
  }

  &__tab-list {
    @include font-tabnav;

    margin: 0;
    text-transform: uppercase;
    color: font-color(grey);
    border: 0;

    & li:not(:first-child) {
      margin-left: $grid-unit;
    }

    .react-tabs__tab {
      min-width: $tab-min-width;
      height: $tab-height;
      line-height: $tab-height;
      padding: 0 1.5 * $grid-unit;
      background-color: palette(base, 900);
      border: 0;
      bottom: 0;
      border-radius: 0;
      text-align: center;
      transition: background-color ease 0.4s, color ease 0.4s;

      &--selected {
        background-color: palette(base, 600);
        color: font-color(light);

        &.danger-tab {
          background-color: palette(error, 800) !important;
        }
      }

      &:hover {
        background-color: palette(base, 400);
        color: font-color(light);
      }

      &.danger-tab {
        background-color: palette(error, 900);

        &:hover {
          background-color: palette(error, 700);
        }
      }

      &:focus {
        box-shadow: none;

        &:after {
          display: none;
        }
      }
    }
  }
}
