@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  width: 43 * $grid-unit;
  margin-bottom: -24px;

  &.opened {
    margin-bottom: 0;

    .openButton {
      transform: scaleY(-1);
    }
    .submessage {
      opacity: 1;
    }
  }
}

.box {
  border: solid 1px palette(error);
  border-radius: $grid-unit / 2;
  background-color: palette(base);
  padding: 0 0 0 3 * $grid-unit;
  overflow: hidden;

  transition: height ease 0.4s;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  height: 5 * $grid-unit;
  align-items: center;

  cursor: pointer;
}
.title {
  @include font-small;
  color: font-color(light);

  margin: 0;
}
.openButton {
  cursor: pointer;
  height: 100%;
  width: 5 * $grid-unit;
  text-align: center;
  line-height: 46px;

  transition: transform ease 0.4s;

  &:hover {
    color: font-color(light);
  }
}

.message {
  @include font-small;
  color: font-color(regular);

  margin: $grid-unit 3 * $grid-unit 3 * $grid-unit 0;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  width: fit-content;
}

.submessage {
  margin: $grid-unit 0 2 * $grid-unit 3 * $grid-unit;
  opacity: 0;

  transition: opacity ease 0.4s;

  .contact {
    text-decoration: underline;
    cursor: pointer;
    margin-left: $grid-unit;
    transition: color ease 0.4s;

    &:hover {
      color: font-color(light);
    }
  }
}
