fullnameOverride: minio
nameOverride: minio

mode: standalone

image:
  repository: quay.io/minio/minio
  tag: RELEASE.2024-04-18T19-09-19Z
  pullPolicy: IfNotPresent

mcImage:
  repository: quay.io/minio/mc
  tag: RELEASE.2024-04-18T16-45-29Z
  pullPolicy: IfNotPresent

mode: standalone

minioAPIPort: "9000"
minioConsolePort: "9001"

rootUser: minio
rootPassword: minio123

certsPath: "/etc/minio/certs/"
configPathmc: "/etc/minio/mc/"

mountPath: "/export"

tls:
  enabled: false
  certSecret: ""
  publicCrt: public.crt
  privateKey: private.key

trustedCertsSecret: ""

persistence:
  enabled: true
  storageClass: {{ requiredEnv "STORAGE_CLASS_NAME" | quote }}
  existingClaim: "kdl-local-claim"
  size: 1Gi
  accessMode: ReadWriteOnce

ingress:
  enabled: true
  ingressClassName: public
  annotations:
    cert-manager.io/cluster-issuer: selfsigned-clusterissuer
    nginx.ingress.kubernetes.io/proxy-body-size: "1000000m"
  path: /
  hosts:
    - minio.{{ requiredEnv "DOMAIN" }}
  tls:
    - secretName: minio-tls
      hosts:
      - minio.{{ requiredEnv "DOMAIN" }}

consoleIngress:
  enabled: true
  ingressClassName: public
  annotations:
    cert-manager.io/cluster-issuer: selfsigned-clusterissuer
    nginx.ingress.kubernetes.io/proxy-body-size: "1000000m"
  path: /
  hosts:
    - minio-console.{{ requiredEnv "DOMAIN" }}
  tls:
    - secretName: minio-console-tls
      hosts:
      - minio-console.{{ requiredEnv "DOMAIN" }}

resources:
  requests:
    memory: 1Gi

users: []

## OpenID Identity Management
## The following section documents environment variables for enabling external identity management using an OpenID Connect (OIDC)-compatible provider.
## See https://min.io/docs/minio/linux/operations/external-iam/configure-openid-external-identity-management.html for a tutorial on using these variables.
oidc:
  enabled: false
  configUrl: "https://identity-provider-url/.well-known/openid-configuration"
  clientId: "minio"
  clientSecret: ""
  # Provide existing client secret from the Kubernetes Secret resource, existing secret will have priority over `clientId` and/or `clientSecret``
  existingClientSecretName: ""
  existingClientIdKey: ""
  existingClientSecretKey: ""
  claimName: "policy"
  scopes: "openid,profile,email"
  redirectUri: "https://console-endpoint-url/oauth_callback"
  # Can leave empty
  claimPrefix: ""
  comment: ""
  displayName: ""
