@import 'Styles/colors';
@import 'Styles/mixins';
@import 'Styles/variables';
@import 'Styles/borders';
@import 'Styles/shadows';

$shape-height: 30 * $grid-unit;
$desc-height: 5 * $grid-unit;

.label {
  position: relative;
  float: left;
  margin: 0 1.5 * $grid-unit 1.1 * $grid-unit 0;
  padding: 0.4 * $grid-unit 1.5 * $grid-unit;
  background-color: palette(base);
  border-radius: 0.5 * $grid-unit;
  @include font-small;
  color: font-color(regular);
}

.runningTag {
  @extend .label;
  padding: 0.4 * $grid-unit 3.5 * $grid-unit;
  background-color: palette(success, 700);
  border-radius: 2 * $grid-unit;
  color: font-color(dark);
  font-weight: bold;
}
