@import 'Styles/colors';
@import 'Styles/mixins';
@import 'Styles/variables';
@import 'Styles/borders';
@import 'Styles/shadows';

$label-height: 3 * $grid-unit;
$shape-height: 20 * $grid-unit;

$min-shape-width: 75 * $grid-unit;
$max-shape-width: 100 * $grid-unit;
$shape-width: 40vw;

$band-height: 5 * $grid-unit;
$big-square-base: 10 * $grid-unit;
$small-square-base: 30px;

.container {
  position: relative;
  margin: 0 0 2 * $grid-unit 5 * $grid-unit;
  flex-shrink: 0;
  pointer-events: none;

  &:hover {
    .bg {
      box-shadow: inset 0 0 0 3px transparent,
        0 2px 3 * $grid-unit 0 palette(highlight, 900);
      background-color: palette(highlight, 900);
      border-color: palette(highlight);
    }

    .content * {
      color: palette(highlight);
    }
  }
}

.bg {
  background-color: palette(base, 400);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 0 4px palette(base);
  border: solid 1px palette(base, 800);
  pointer-events: all;
  cursor: pointer;

  transition: background-color ease 0.4s, box-shadow ease 0.4s,
    border-color ease 0.4s;
}

.content {
  position: absolute;
  top: 0;
  left: 8 * $grid-unit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - #{$band-height / 2});
  width: calc(100% - #{12 * $grid-unit});

  .contactInfo {
    @include font-small;

    pointer-events: all;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: font-color(light);
    margin-left: $grid-unit;
  }
}
