{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": [
                {{ range .Buckets }}
                "arn:aws:s3:::{{ . }}",
                "arn:aws:s3:::{{ . }}/*"
                {{ end }}
            ]
        }
    ]
}
