name: Helm Release

on:
  workflow_run:
    workflows:
      - "Backup Component Build"
      - "Cleaner Component Build"
      - "Drone Authorizer Component Build"
      - "Gitea Oauth2 Setup Component Build"
      - "Jupyter GPU Component Build"
      - "Mlflow Component Build"
      - "Project Operator Component Build"
      - "RepoCloner Component Build"
      - "UserTools Operator Component Build"
      - "Vscode Component Build"
      - "KDLServer Application Build"
    types:
      - completed
  push:
    branches:
      - main
      - "release/v*"
    paths:
      - "helm/kdl-server/**/*"
      - "!helm/kdl-server/Chart.yaml"
      - "!helm/kdl-server/values.yaml"


jobs:
  helm-release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: konstellation-io/github-workflows/.github/workflows/helm-release.yaml@v1.3.1
    with:
      chart_file: helm/kdl-server/Chart.yaml
    secrets:
      pat: ${{ secrets.PATNAME }}
