name: Helm Release

on:
  workflow_run:
    workflows:
      - "Backup Component Build"
      - "Cleaner Component Build"
      - "Drone Authorizer Component Build"
      - "Gitea Oauth2 Setup Component Build"
      - "Jupyter GPU Component Build"
      - "Mlflow Component Build"
      - "Project Operator Component Build"
      - "RepoCloner Component Build"
      - "UserTools Operator Component Build"
      - "Vscode Component Build"
      - "Helm Component"
      - "KDLServer Application Build"
    types:
      - completed

concurrency: helm_release

jobs:
  helm-release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: konstellation-io/github-workflows/.github/workflows/helm-release.yaml@v1.7.0
    with:
      chart_file: helm/kdl-server/Chart.yaml
      chart_path: helm
      chart_url: http://kdl.konstellation.io
      current_major: 1
    secrets:
      pat: ${{ secrets.PATNAME }}
