name: KAI Lab API - Quality Check

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'app/api/*'
  push:
    paths:
      - 'app/api/*'

jobs:
  lint-dockerfile:
    uses: konstellation-io/github-workflows/.github/workflows/lint-dockerfile.yaml@v1.7.6
    with:
      component_path: app

  quality-checks:
    runs-on: ubuntu-20.04
    needs: lint-dockerfile
    steps:
      - name: CheckOut
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1
      - name: API Go Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.61.0
          working-directory: ./app/api
          args: --timeout 5m
          skip-pkg-cache: true
          skip-build-cache: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: API Test
        run: go test ./... -cover -v -coverprofile=coverage.out
        working-directory: ./app/api
      - name: API Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: app/api/coverage.out
